@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script type="text/javascript">
    $(window).on('load', function () {
        if (@ViewBag.LoginError == 1) {
            $('#LoginRuutu').modal('show');
        }
    });
    </script>
}


<div class="jumbotron">

    <h1>Leivo kakkuja!</h1>
    <p class="lead">Sivultamme löydät reseptejä erilaisten herkku kakkujen tekoon. Meiltä voit myös ostaa tarvittavat tuotteet edulliseen hintaan.</p>
    <p><a href="/Tuotteet/Index2" class="btn btn-primary btn-lg"><img src="~/Icons/emoji-heart-eyes-fill.svg" />Tuotteet &raquo;</a></p>


    <div class="row">
        <div class="col-md-4">
            <h2>Täydellinen suklaakakku</h2><img src="~/Icons/emoji-heart-eyes-fill.svg" width="32" height="32" title="heart">
            <p>
                Tässä ohje täydelliseen suklaakakkuun
            </p>
            <p><a class="btn btn-default" href="https://www.anninuunissa.fi/taydellinen-suklaakakku/">resepti &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Maailman paras sitruunakakku</h2>
            <p>Sitruunasiirapilla kostutettu, ihanan mehevä ja pehmoinen sitruunakakku.</p>
            <p><a class="btn btn-default" href="https://www.anninuunissa.fi/maailman-paras-sitruunakakku/">resepti &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Maidoton Mansikkakakku</h2>
            <p>Maidoton Mansikkakakku on täysin perinteinen, helppo ja turvallinen ohje.</p>
            <p><a class="btn btn-default" href="https://www.anninuunissa.fi/maidoton-mansikkakakku-g/">resepti &raquo;</a></p>
        </div>
    </div>
</div>
@{ 
    Html.RenderPartial("_LoginModal");
}