@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script type="text/javascript">
    $(window).on('load', function () {
        if (@ViewBag.LoginError == 1) {
            $('#LoginRuutu').modal('show');
        }
    });

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: ['Pallo', 'Neliö', 'Kolmio', 'Soikio', 'Viisikulma'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        var ctx = document.getElementById('myChart3').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Pinaatti', 'Kukkakaali', 'Kurpitsa', 'Munakoiso', 'Porkkana'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    </script>
}


<div class="jumbotron">

    <h1>Leivo kakkuja!</h1>
    <p class="lead">Sivultamme löydät reseptejä erilaisten herkku kakkujen tekoon. Meiltä voit myös ostaa tarvittavat tuotteet edulliseen hintaan.</p>
    <p><a href="/Tuotteet/Index2" class="btn btn-primary btn-lg"><img src="~/Icons/emoji-heart-eyes-fill.svg" />Tuotteet &raquo;</a></p>


    <div class="row">
        <div class="col-md-4">
            <h2>Täydellinen suklaakakku</h2><img src="~/Icons/emoji-heart-eyes-fill.svg" width="32" height="32" title="heart">
            <p>
                Tässä ohje täydelliseen suklaakakkuun
            </p>
            <p><a class="btn btn-default" href="https://www.anninuunissa.fi/taydellinen-suklaakakku/">resepti &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Maailman paras sitruunakakku</h2>
            <p>Sitruunasiirapilla kostutettu, ihanan mehevä ja pehmoinen sitruunakakku.</p>
            <p><a class="btn btn-default" href="https://www.anninuunissa.fi/maailman-paras-sitruunakakku/">resepti &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Maidoton Mansikkakakku</h2>
            <p>Maidoton Mansikkakakku on täysin perinteinen, helppo ja turvallinen ohje.</p>
            <p><a class="btn btn-default" href="https://www.anninuunissa.fi/maidoton-mansikkakakku-g/">resepti &raquo;</a></p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <canvas id="myChart"></canvas>
            </div>
            <div class="col-sm-4">
                <canvas id="myChart2"></canvas>
            </div>
            <div class="col-sm-4">
                <canvas id="myChart3"></canvas>
            </div>
        </div>
    </div>
</div>
@{ 
    Html.RenderPartial("_LoginModal");
}